<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">

    <!-- Masthead Avatar Image -->
    <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='img/avataaars.svg')}}" alt="">

    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0">Freelancer</h1>

    <!-- Icon Divider -->
       {% include 'bits/divider.html' %}


    <!-- Masthead Subheading -->
    <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>

  </div>
</header>
